.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 16px 16px 24px;
  background-color: #FFFFFF;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.content {
  max-width: 75%;
}

.body {
  width: 100%;
  margin-top: 26px;
  margin-right: 26px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: auto;
  margin-left: auto;
}

.row {
  
  &:not(:first-child) {
    margin-top: 4px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.headerItem {
  margin-left: 12px;
}

.title {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  color: #1890FF;
}

.date {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.desctiptionFull,
.desctiption {
  margin: 0;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}

.desctiptionFull {
  color: rgba(0, 0, 0, 0.5);
}

.buttons {
  margin-top: 30px;
}

.button {
  & + & {
    margin-left: 12px;
  }
}

.buttonEdit {
  border-color: #52C41A;
  color: #52C41A;
}